/* 放大左侧导航栏字体 */
.nav-list-link {
  font-size: 16px !important; 
  padding-top: 10px !important; 
  padding-bottom: 10px !important;
}

/* 修复侧边栏箭头重叠 */
.nav-list-expander::before,
.nav-list-expander::after {
  display: none !important;
  content: none !important;
}

/* 箭头对齐微调 */
.nav-list-expander svg {
  position: relative !important;
  top: 6px !important; 
}

/* 左上角标题不换行 */
.site-title {
  font-size: 16px !important;
  white-space: nowrap !important;
  letter-spacing: -0.5px !important;
}